<div class="exam-content">
  <div>
    <h1><%=exam.name%></h1>
    <h2><%=exam.class.name%></h2>

    <p><%= new Date(exam.startAt).toISOString().split('T')[0]; %></p>
    start at
    <p>
      <%= +new Date(exam.startAt).toISOString().split('T')[1].split(':')[0] +7
      %>:<%= +new Date(exam.startAt).toISOString().split('T')[1].split(':')[1]
      %>
    </p>
    end at
    <p>
      <%= +new Date(exam.endedAt).toISOString().split('T')[1].split(':')[0]+7
      %>:<%= +new Date(exam.endedAt).toISOString().split('T')[1].split(':')[1]
      %>
    </p>
    <hr />
  </div>

  <div>
    <h2>Students</h2>
    <% examResults.forEach(examResult => { %>
    <div>
      <hr />
      <div class="student">
        <%= examResult.student.name %> <%= examResult.student.email %>
      </div>
      <a href="/teachers/exams/<%=exam._id%> /details/<%=examResult._id%> "
        >View detail</a
      >
      <div><p>score: <%=examResult.score%></p></div>
    </div>
    <% }) %>
  </div>
</div>
